.App {
  text-align: center;
  padding: 0;
  margin:0;
}

.header {
  background-color: black;
  color: white;
  height: 50px;
}

.leftPage > img{
  padding: 4% 0%;
  width :80%;
  position: relative;
}


.featureData{
  color:red;
  /* position: absolute; */
  /* top: 35%;
  left: 25%;
  transform: translate(-70%, -80%); */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* padding:50%; */
  /* width :78%; */

  /* top: 28%;
  left: 24%;
  transform: translate(-50%, -50%); */
}

.rightPage {
  text-align: left;
  padding: 24px;
  /* position: absolute; */
}

.btn_style, .btn_style:hover{
  margin-right: 10px;
  font-size:100% ;
  padding: 5px;
  border-radius: 8px;
  box-sizing: content-box;
  /* padding: 12px 24x; */
  text-align: center;
  background-color: rgb(214, 213, 213);
  min-width: 100px;
  
}

.btnSelected{
  background-color: rgb(150, 148, 148);
}
